
/* Written by: Gavin Cernek, 1/21/2021 */

.input {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
        "label-container"
        "input-box";
}