
/* Written by: Gavin Cernek, 1/21/2021 */
 
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-wrap {
  flex: 1;
}