
/* Written by: Gavin Cernek, 1/21/2021 */

.textarea {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
        "label-container"
        "textarea-box";
}
